<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @campaign.product.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @campaign.time %>
</p>

<%= link_to 'Back', campaigns_path, class: 'btn btn-primary' %>
