<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @campaign.product %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user %>
</p>

<p>
  <strong>Time:</strong>
  <%= @campaign.time %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
