<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Image</th>
      <th>User</th>
      <th>Bigest price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr campaign-id="<%= campaign.id %>" id="campaign-<%= campaign.id %>">
        <td><%= campaign.product.title %></td>
        <td><%= campaign.product.description %></td>
        <td class="append"><%= image_tag campaign.product.images.last.try(:image_url), height: 100, weight: 100 %>
        </td>
        <%= render_price_user(campaign) %>
        <!-- ------------------------------- -->
        <td><input type='text' id="price"></td>
        <td><input type='submit' class="click" value="Bid"></td>
        <!-- TODO -->
        <!-- ------------------------------- -->
      </tr>
    <% end %>
  </tbody>
</table>
