<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.images.last.try(:image_url), height: 100, weight: 100 %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id%>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-success' %>
<%= link_to 'Back', products_path, class: 'btn btn-primary' %>
